/*fontes*/
@font-face {
	font-family: 'Helvetica';
	src: url('./assets/fonts/Helvetica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./assets/fonts/Quicksand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Urbanist';
	src: url('./assets/fonts/Urbanist.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*fundo*/
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/imgs/background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*banner gossip girl*/
header img {
    width: 800px; /*testar com  63vw;*/
    height: auto;
    display: block;
    margin: 0 auto; 
}


/*conteúdo*/
main {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 800px;
    margin: 0 auto;
}

/*âncora de links*/
a {
    color: #a8cfe4;
    margin-left: 20px;
}

/*título (dos posts)*/
h1 {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000000; /* Cor de destaque para o título do post */
    text-align: center;
}

/*subtitulo (do sidebar left, welcome, gossip, pics...)*/
h2 {
    font-family: 'Urbanist';
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 5px 0px 0px 0px;
    text-align: justify;
}

/*parágrafo (dos posts)*/
p {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: justify;
}

/*bloco de citação longa (do sidebar left, welcome, gossip, pics...)*/
blockquote {
    font-family: 'Helvetica';
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px;
    text-align: left;
    line-height: 1.3;
    color: #fff;
}

/*citação curta (assinatura xoxo Gossip Girl)*/
q {
    font-family: 'Helvetica';
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #19d6d3;
    quotes: none;
}

/*divisória horizontal rule*/
hr {
	border: none;
	height: 1px;
	background: #b2ad8d;
}

/*sessão dos posts*/
section.main-post {
    flex-grow: 1;
    max-width: 360px;
    margin-top: 35px;
}

/*post*/
article.post {
    max-width: 360px;
    margin: -35px auto 60px auto;
    background-color: #fffffff2;
    color: var(--post-text-color);
    padding: 10px 30px 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px #ffffff33;
    text-align: right;
}

/*imagem do post*/
article.post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #00000033;
}

/*coluna esquerda (welcome, gossip, pics...)*/
aside.sidebar-left {
    flex-basis: 200px;
    line-height: 1.6;
    margin: -30px 0px 0px 0px;
}

/*coluna direita (home, posts, pics...)*/
aside.sidebar-right {
    margin: -15px 0px 0px 0px;
}

/*circulos dos icones coluna direita*/
nav.nav-circles a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95px;
    height: 80px;
    margin: 0 auto 25px auto;
    background-color: #b2ad8d;
    border-radius: 100px;
    text-decoration: none;
    color: #000;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: 1px;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    transition: transform 0.3s, background-color 0.3s;
}

/*imagem círculo dos icones*/
nav.nav-circles img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    filter: grayscale(50%);
}

/*círculo dos icones ao passar o mouse*/
nav.nav-circles a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #d6c39a;
}

/*widget de mapa (gossip girl live upper east sider...)*/
div.widget-map {
    background: linear-gradient(to left, #eaaa6f, #dac495, #f1e6ce, #fff);
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    width: 130px;
    height: 470px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: inline-block;
}

/*container da tv com a live no mapa*/
div.tv-container {
    position: relative; 
    display: inline-block; }


/*icon da tv no mapa*/
img.tv {
    display: block;
    margin: 5px auto;
    justify-content: center;
}

/*live da tv no mapa*/
span.live {
    position: absolute; 
    margin: -25px 0px 0px -15px;
    color: #000000;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: sans-serif;
}

/*upper east sider mapa*/
span.upper-east-sider {
    color: #000000;
    font-size: 0.85rem;
    font-weight: 100;
    letter-spacing: 0.5px;
    white-space: nowrap;
    margin: 15px 0px 0px 0px;
    font-family: 'Urbanist', sans-serif;
}

input.barra-de-pesquisa {
    width: 100px;
    height: 20px;
    padding: 0px 0px 0px 25px;
    border: 1px solid #b2ad8d;
    border-radius: 1px;
    font-family: 'Urbanist', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: #000;
    text-align: left;
    background-image: url('./assets/imgs/widget_lupa.png'); 
    background-repeat: no-repeat;
    background-position: 3px center;
    background-size: 15px;
    background-color: #ffffff;
}

button {
    font-family: 'Urbanist', sans-serif;
    font-size: 0.8rem;
    color: #000;
    text-shadow: #ffffff 1px 0px 2px;
    margin: 8px auto 0px auto;
    transition: opacity 0.2s;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block; 
}

button:hover {
    opacity: 0.85;
}

button.search-button {
    background: url('./assets/imgs/widget_button_search.png') center no-repeat;
    background-size: contain;
    width: 70px; 
    height: 30px;
}

button.upload-button {
    background: url('./assets/imgs/widget_button_upload.png') no-repeat center;
    background-size: contain;
    width: 100px; 
    height: 30px;
}


div.map {
    width: auto;
    height: 130px;
    margin: 10px auto 0 auto;
    background: url('./assets/imgs/widget_map.png');
    background-size: cover;
    background-position: center;
}

/*responsividade notebook*/
@media (max-width: 1280px) {

body {
    background-size: 150%;
    background-position: top;
}

/*responsividade notebook*/
@media (max-width: 1280px) {

body {
    background-size: 150%;
    background-position: top;
}
}

@media (max-width: 900px) {

body {
    background-size: cover;
}